{{ define "header" }}
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ .Title }}</title>
		<link rel="stylesheet" type="text/css" href="/static/default.css">
	</head>
	<body>
		<ul class="horizontal-navbar">
			<li class="logo">
				<a href="/">
					<span class="circle">
						<img src="/static/logo.png"></img>
					</span>
					<span class="text">
						Picoshop
					</span>
				</a>
			</li>

			{{ $customer := context "Customer" }}
			{{ if $customer.Name }}
				<li class="right hover"><a href="/logout">Logout</a></li>
				<li class="right"><a href="/user">Welcome {{ $customer.Name }}!</a></li>
			{{ else }}
				<li class="right hover"><a href="/login">Login</a></li>
				<li class="right hover"><a href="/register">Register</a></li>
			{{ end }}

			<li class="right">
				<form action="/search" method="get" class="search">
					<div>
						<input type="text" id="query" name="query" placeholder="Search for some Pickles!">
					</div>
				</form>
			<li>
		</ul>

		<ul class="vertical-navbar">
			<li class="category"><a href="#pickles">Pickles</a></li>
			<li><a href="#">Regular</a></li>
			<li><a href="#">Slim-fit</a></li>
			<li><a href="#">Plus-size</a></li>
			<li class="category"><a href="#cutlery">Cutlery</a></li>
			<li><a href="#">Dinner</a></li>
			<li><a href="#">Dessert</a></li>
			<li><a class="bestseller" href="#">Spork</a></li>
			<li><a href="#">Couteau de Picleu</a></li>
		</ul>

		<div class="main">
{{ end }}
