{{ define "header" }}

{{ $customer := context "Customer" }}
{{ $admin := context "Admin" }}
{{ $warehouse := context "Warehouse" }}

<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ .Title }}</title>
		<link rel="stylesheet" type="text/css" href="/static/default.css">
	</head>
	<body>
		<ul class="horizontal-navbar">
			<li class="logo">
				<a href="/">
					<span class="circle">
						<img src="/static/logo.png"></img>
					</span>
					<span class="text">
						Picoshop
					</span>
				</a>
			</li>

			{{ with (or (or $customer $admin) $warehouse) }}
			<li class="right hover"><a href="/logout">Logout</a></li>
			<li class="right"><a href="/user">Welcome {{ .Name }}!</a></li>
			{{ else }}
			<li class="right hover"><a href="/login">Login</a></li>
			<li class="right hover"><a href="/register">Register</a></li>
			{{ end }}

			<li class="right">
				<form action="/search" method="get" class="search">
					<div>
						<input type="text" id="query" name="query" placeholder="Search for some Pickles!">
					</div>
				</form>
			<li>
		</ul>

		<ul class="vertical-navbar">
			{{ range $category := (context "Categories") }}
			<li class="category"><a href="/category/{{ $category.Name }}">{{ $category.Name }}</a></li>
			{{ range $subcategory := $category.Subcategories }}
			<li><a href="/category/{{ $category.Name }}/{{ $subcategory.Name }}">{{ $subcategory.Name }}</a></li>
			{{ end }}
			{{ end }}

			{{ if $admin }}
			<li class="category"><a href="#">Admin</a></li>
			<li><a href="/admin">Panel</a></li>
			{{ else if $warehouse }}
			<li class="category"><a href="#">Warehouse</a></li>
			<li><a href="/warehouse">Panel</a></li>
			{{ end }}
		</ul>

		<div class="main">
{{ end }}
