{{ template "header" . }}

<div class = "midbox">
	<h3>Administration panel</h3>

	<ul>
		<li><a href="/admin/register?type=admin">Register admin</a></li>
		<li><a href="/admin/register?type=customer">Register customer</a></li>
		<li><a href="/admin/register?type=warehouse">Register warehouse</a></li>
		<li><a href="/admin/article">Add article</a></li>
	</ul>

	<!--<h3>Add article</h3>-->
	<!--
	<form action="/article" method="post" enctype="multipart/form-data">
		<div>
			<label for="article">Article:</label>
			<input type="article" id="article" name="article" value="{{ .Data.Article.Name }}">
		</div>
		<div>
			<label for="price">Price:</label>
			<input type="price" id="price" name="price" value="{{ .Data.Article.Price }}">
		</div>
		<div>
			<label for="file">Choose file to upload</label>
			<input type="file" id="file" name="file" multiple>

		</div>

		<div>
			<button type="submit">Register</button>
		</div>
	</form>


	<h3>Add article</h3>
	<form action="/article" method="post" enctype="multipart/form-data">
		<div>
			<label for="name">Name:</label>
			<input type="name" id="name" name="name" value="{{ .Data.Article.Name }}">
		</div>
		<div>
			<label for="description" >Description:</label>
			<input type="description" id="description" name="description" value="{{ .Data.Article.Description}}">
		</div>
		<div>
			<label for="price">Price:</label>
			<input> type="price" id="price" name"name" value="{{ .Data.Article.Price }}">
		</div>
		<div>
			<label for="image">Choose file to upload</label>
			<input type="image" id="image" name="image" value="{{ .Data.Article.ImageUrl }}">

		</div>

		<div>
			<button type="submit">Register</button>
		</div>
	</form>
	</div> -->
</div>

{{ template "footer"  }}
