{{ template "header" . }}

<div class = "midbox">
    <h3>Warehouse</h3>
    <form action="/register?type=warehouse" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" value="{{ .Data.Warehouse.Email }}">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ .Data.Warehouse.Password }}">
        </div>
        <div>
            <label for="password-retype">Re-type password:</label>
            <input type="password" id="password-retype" name="password-retype" value="{{ .Data.Warehouse.PasswordRetype }}">
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>


    <h3>Admin</h3>
    <form action="/register?type=admin" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" value="{{ .Data.Admin.Email }}">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ .Data.Admin.Password }}">
        </div>
        <div>
            <label for="password-retype">Re-type password:</label>
            <input type="password" id="password-retype" name="password-retype" value="{{ .Data.Admin.PasswordRetype }}">
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>


    <h3>User</h3>
    <form action="/register?type=customer" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" value="{{ .Data.User.Email }}">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ .Data.User.Password }}">
        </div>
        <div>
            <label for="password-retype">Re-type password:</label>
            <input type="password" id="password-retype" name="password-retype" value="{{ .Data.User.PasswordRetype }}">
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>

<h3>Add article</h3>
    <form action="/article" method="post" enctype="multipart/form-data">
        <div>
            <label for="article to modify">Article:</label>
            <input type="article to modify" id="article to modify" name="article to modify" value="{{ .Data.Article.Name }}">
        </div>
        <div>
            <label for="new name">Name:</label>
            <input type="new name" id="new name" name="new name" value="{{ .Data.Article.NewName }}">
        </div>
        <div>
            <label for="new price">Price:</label>
            <input> type="new price" id="new price" name"new name" value="{{ .Data.Article.NewPrice }}">
        </div>
        <div>
            <label for="new image">Choose file to upload</label>
        <input type="new image" id="new image" name="new image" multiple>

        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>



{{ template "header"  }}
