{{ template "header" . }}

<div class = "midbox">
    <h3>Warehouse</h3>
    <form action="/register?type=warehouse" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" value="{{ .Data.Email }}">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ .Data.Password }}">
        </div>
        <div>
            <label for="password-retype">Re-type password:</label>
            <input type="password" id="password-retype" name="password-retype" value="{{ .Data.PasswordRetype }}">
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>


    <h3>Admin</h3>
    <form action="/register?type=admin" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" value="{{ .Data.Email }}">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ .Data.Password }}">
        </div>
        <div>
            <label for="password-retype">Re-type password:</label>
            <input type="password" id="password-retype" name="password-retype" value="{{ .Data.PasswordRetype }}">
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>


    <h3>User</h3>
    <form action="/register?type=customer" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" value="{{ .Data.Email }}">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ .Data.Password }}">
        </div>
        <div>
            <label for="password-retype">Re-type password:</label>
            <input type="password" id="password-retype" name="password-retype" value="{{ .Data.PasswordRetype }}">
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>

<h3>Add article</h3>
<form action="/article" method="post" enctype="multipart/form-data">
    <div>
        <label for="article">Article:</label>
        <input type="article" id="article" name="article" value="{{ .Data.Article.Name }}">
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="price" id="price" name="price" value="{{ .Data.Article.Price }}">
    </div>
    <div>
        <label for="file">Choose file to upload</label>
    <input type="file" id="file" name="file" multiple>

    </div>

    <div>
        <button type="submit">Register</button>
    </div>
</form>
</div>


{{ template "header"  }}