{{ template "header" . }}

<div class = "midbox">
	<h3>Administration panel</h3>

{{ if .Data.CreateSuccess }}
	{{ template "success" (printf "Created new article %s with the ID %d" .Data.Name .Data.Id) }}
{{ end }}
{{ if .Data.StockSuccess }}
	{{ template "success" (printf "Changed stock to %s for article with the ID %d" .Data.InStock .Data.Id) }}
{{ end }}
{{ if .Data.StockError }}
	{{ template "error" .Data.StockError }}
{{ end }}
{{ if .Data.CreateError }}
	{{ template "error" .Data.CreateError }}
{{ end }}

	<h4>Add new article</h4>
	<form action="/admin/article" method="POST" enctype="multipart/form-data">
		<div>
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="{{ .Data.Name }}">
		</div>
		<div>
			<label for="description">Description:</label>
			<input type="text" id="description" name="description" value="{{ .Data.Description }}">
		</div>
		<div>
			<label for="price">Price:</label>
			<input type="text" id="price" name="price" value="{{ .Data.Price }}">
		</div>
		<div>
			<label for="image">Choose image to upload</label>
			<input type="file" id="image" name="image">
		</div>

		<div>
			<label for="category">Category:</label>
			<input type="text" id="category" name="category" value="{{ .Data.Category }}">
		</div>

		<div>
			<label for="subcategory">Subcategory:</label>
			<input type="text" id="subcategory" name="subcategory" value="{{ .Data.Subcategory }}">
		</div>

		<div>
			<label for="in-stock">In stock:</label>
			<input type="number" id="in-stock" name="in-stock" value="{{ .Data.InStock }}">
		</div>

		<div>
			<button type="submit">Register</button>
		</div>
	</form>

	<h4>Update article stock</h4>
	<form action="/admin/article" method="PUT">
		<input type="hidden" name="_method" value="PUT">

		<div>
			<label for="id">ID:</label>
			<input type="number" id="id" name="id">
		</div>
		<div>
			<label for="stock">Stock:</label>
			<input type="number" id="in-stock" name="in-stock">
		</div>

		<div>
			<button type="submit">Set</button>
		</div>
	</form>
</div>

{{ template "footer" }}
