{{ template "header" . }}

<div class = "midbox">
	{{ with .Data.Article }}
	<h1>{{ .Name }}</h1>
	<img class="article" src="/static/image/{{ .ImageName }}" alt="{{ .Name }} image"></img>
	<p>{{ .Description }}</p>
	<h3>Price: {{ .Price }}</h3>
	{{ if (context "Customer") }}
	<form action="/cart?article={{ .Id }}" method="PUT">
		<input type="hidden" name="_method" value="PUT">
		<input type="hidden" name="article" value="{{ .Id }}">
		<button type="submit">Add to cart</button>
	</form>
	{{ end }}

	<h2>Comments</h2>
	{{ with $.Data.Comments }}
	<table>
		{{ range $comment := . }}
		<tr>
			<td>{{ .Customer.Name }}:</td>
			<td>{{ .Text}}</td>
		</tr>
		{{ end }}
	</table>
	{{ else }}
	<p>No one has commented on this product yet.</p>
	{{ end }}
	{{ if (context "Customer") }}
	<form action="/article?id={{ .Id }}" method="POST">
		<label for="comment">Post a comment:</label>
		<input type="text" id="comment" name="text">
		<button type="submit">Sent</button>
	</form>
	{{ else }}
	<p><em>Please login to purchase or comment on this product.</em></p>
	{{ end }}
	{{ end }}
	</table>
</div>
{{ template "footer" }}
