{{ template "header" . }}

<div class = "midbox">
	<h1>Your cart</h1>
	{{ with .Data.Cart.Items }}
	<table class="cart">
		<tr>
			<th>Article</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Operation</th>
		</tr>

		{{range $i := . }}
		<tr>
			{{ with $i.Article }}
			<td>{{ .Name }}</td>
			<td>{{ .Price }}</td>
			<td>{{ $i.Quantity }}</td>
			<td>
				<form action="/cart" method="DELETE">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="article" value="{{ .Id }}">
					<button type="submit">Remove</button>
				</form>
			</td>
			{{ end }}
		</tr>
		{{ end }}
	</table>
	{{ else }}
	<h2 class="error">Oh no! Your cart is empty :(</h2>
	{{ end }}

	<form action="/cart" method="DELETE">
		<input type="hidden" name="_method" value="DELETE">
		<button type="submit">Empty cart</button>
	</form>

	<tr>
		<form action="/cart" method="POST">
			<div>
				<label for="creditcard">Credit card:</label>
				<input type="text" id="creditcard" name="creditcard" value="{{ .Data.CreditCard.Number }}">
			</div>

			<div>
				<label for="expiration">Expiration date:</label>
				<input type="date" id="expiration" name="expiration" value="{{ .Data.CreditCard.Expiration }}">
			</div>

			<div>
				<label for="cvc">CVC:</label>
				<input type="text" id="cvc" name="cvc" value="{{ .Data.CreditCard.Cvc }}">
			</div>

			<div>
				<label for="holder">Card holder:</label>
				<input type="text" id="holder" name="holder" value="{{ .Data.CreditCard.Holder }}">
			</div>

			<div>
				<label for="street">Street:</label>
				<input type="text" id="street" name="street" value="{{ .Data.Address.Street }}">
			</div>

			<div>
				<label for="careof">C/O:</label>
				<input type="text" id="careof" name="care_of" value="{{ .Data.Address.CareOf }}">
			</div>

			<div>
				<label for="zipcode">Zip code:</label>
				<input type="text" id="zipcode" name="zip_code" value="{{ .Data.Address.ZipCode }}">
			</div>

			<div>
				<label for="country">Country:</label>
				<input type="text" id="country" name="country" value="{{ .Data.Address.Country }}">
			</div>

			<div>
				<button type="submit">Place order</button>
			</div>
		</form>
	</tr>
</div>

{{ template "footer" }}
