{{ template "header" . }}

<div class="midbox">
  <h1>Picoshop</h1>
  <p>Welcome to Picoshop!</p>
  <p>
  Picoshop is the to-go-place for your pickle needs. We sell a variety of pickles, from small slim-fit pickles to the largest plus-size!
  In our Cutlery department we have Sporks, dessert tooling and the luxury Couteau de Picleu knifes.
  </p>

  {{ with .Data.Highlights }}
  <h2>Product highlights</h2>
  <p>Maybe you are interested in...</p>
  {{ range . }}
  <a class="article" href="/article?id={{ .Id }}">
	  <h3>{{ .Name }}</h3>
	  <img class="article" src="/static/image/{{ .ImageName }}" alt="{{ .Name }} image"></img>
	  <p><em>Only {{ .Price }}!</em></p>
  </a>
  {{ end }}
  {{ end }}
</div>

{{ template "footer" }}
