{{ template "header" . }}

<div class="midbox">
  <h1>Picoshop</h1>
  <p>Welcome to Picoshop!</p>
  <p>
  Test here: {{ context "email" }}
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies vehicula malesuada. Aenean eu dapibus purus. Suspendisse elementum aliquam lectus, ac blandit leo condimentum id. Etiam efficitur ut massa sit amet commodo. Ut fermentum, ex non finibus rhoncus, ligula neque dapibus dolor, vel vehicula enim risus sed dui. Mauris ut est sodales, sollicitudin lectus nec, eleifend eros. In venenatis quam.
  </p>
</div>

{{ template "footer" }}
