{{ template "header" . }}

<div class="smallbox">
  <h1>Login :D</h1>

  <p>
  Welcome back!
  </p>

  {{ template "error" .Data.Error }}

  <form action="/login" method="post" class="default-form">
    <select name="type">
        <option value="Customer">Customer</option>
        <option value="Warehouse">Warehouse</option>
        <option value="Admin">Admin</option>
    </select>
      <div>
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" value="{{ .Data.Email }}">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" value="{{ .Data.Password }}">
    </div>
    <div>
	    <input name="type" value="Customer">
    </div>

    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</div>

{{ template "footer" }}
