{{ template "header" . }}

<div class = "midbox">
    <table class="search">
        <tr>
            <th>Image</th>
            <th>Article</th>
            <th>Price</th>
            <th></th>
        </tr>
	{{range $element := .Data.Articles}}
        <tr>
            <td><img class="article" src="/static/image/{{ $element.ImageName }}" alt="{{ $element.Name }} image"></img></td>
            <td>{{ $element.Name }}</td>
            <td>{{ $element.Price }}</td>
            <td></td>
        </tr>
	{{ end }}
    </table>
</div>

{{ template "footer" }}
