{{ template "header" . }}

<div class = "midbox">
	<h1>Search result for: {{ .Data.Query }}</h1>
	{{ if .Data.Articles }}
	<table class="search">
		<tr>
			<th>Image</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
		</tr>
		{{range $article := .Data.Articles}}
		<a class="article" href="/article?id={{ $article.Id }}">
			<tr>
				<td><img class="article" src="/static/image/{{ $article.ImageName }}" alt="{{ $article.Name }} image"></img></td>
				<td>{{ $article.Name }}</td>
				<td>{{ $article.Description }}</td>
				<td>{{ $article.Price }}</td>
			</tr>
		</a>
		{{ end }}
	</table>
	{{ else }}
	<h2>Sorry, the search returned no results... :(</h2>
	{{ end }}
</div>

{{ template "footer" }}
