{{ template "header" . }}

<div class = "midbox">
    <table class="warehouse">
        <tr>
            <th>Order ID</th>
            <th>Articles</th>
            <th>Address</th>
            <th></th>
        </tr>
	{{range $element := .Data.Orders}}
            <tr>
                 <td>{{ $element.Id }}</td>
                 <td>{{ $element.Item }}</td>
                 <td>{{ $element.Address }}</td>
                 <td>
                     <form action="/order?id={{ $element.Id }}" method="PUT">
                         <input type="hidden" name="_method" value="PUT">
                         <button type="submit">ACCEPT ORDER</button>
                     </form>
                     <form action="/order?id={{ $element.Id }}" method="POST">
                         <input type="hidden" name="_method" value="POST">
                         <button type="submit">SHIP ORDER</button>
                     </form>
                     <form action="/order?id={{ $element.Id }}" method="DELETE">
                        <button type="submit">END ORDER</button>
                     </form>
                 </td>
             </tr>
	     {{ end }}
    </table>
</div>
{{ template "footer" }}
